name: Create Archive
on: 
  push:
    tags:
      - "*"
jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        item:
          - admiral
          - admiral_comms
          - ai
          - autoplay
          - basic_player_destroy
          - basic_random_skybox
          - collisions
          - commerce
          - comms
          - consoles
          - damage
          - data_panels
          - docking
          - fleets
          - gamemaster
          - gamemaster_comms
          - grid_comms
          - hangar
          - internal_comms
          - operator
          - prefabs
          - science_scans
          - side_missions
          - upgrades
          - documents

    steps:
      - name: Set env version
        id: get_version
        #run: echo "{VERSION}={${GITHUB_REF/refs\/tags\//}}" >> $GITHUB_OUTPUT
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
        
      - uses: actions/checkout@master
      - name: Archive autoplay addon
        uses: thedoctor0/zip-release@main
        with:
          type: 'zip'
          filename: '${{ matrix.item }}.${{ steps.get_version.outputs.VERSION }}.mastlib'
          #directory: 'sbs_utils'
          #exclusions: 'LICENSE. *.* .* *. *.git* /docs/* /mock/* /typings/* /sphinx/* /tests/* *.py .nojekyll'
          path: "${{ matrix.item }}"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: '${{ matrix.item }}'
          path: '${{ matrix.item }}.${{ steps.get_version.outputs.VERSION }}.mastlib'
          retention-days: 1

  build_media:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Set env version
        id: get_version
        # run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
        run: echo "{VERSION}={${GITHUB_REF/refs\/tags\//}}" >> $GITHUB_OUTPUT

      - name: Archive media zip
        uses: thedoctor0/zip-release@main
        with:
          type: 'zip'
          filename: 'media.${{ steps.get_version.outputs.VERSION }}.zip'
          path: "media"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: media
          path: 'media.${{ steps.get_version.outputs.VERSION }}.zip'
          retention-days: 1

  build_release: 
    runs-on: ubuntu-latest
    needs:
      - build_media
      - build

    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts # Download all artifacts to this directory
      #- name: Display structure of downloaded files
      #  run: ls -R artifacts
    
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: artifacts/*/*
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true