name: Create Archive
on: 
  push:
    tags:
      - "*"
jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        item:
          - admiral
          - admiral_comms
          - ai
          - autoplay
          - basic_player_destroy
          - basic_random_skybox
          - collisions
          - commerce
          - comms
          - consoles
          - damage
          - data_panels
          - docking
          - fleets
          - gamemaster
          - gamemaster_comms
          - grid_comms
          - hangar
          - internal_comms
          - operator
          - prefabs
          - science_scans
          - side_missions
          - upgrades

    steps:
      - name: Set env version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
        
      - uses: actions/checkout@master
      - name: Archive autoplay addon
        uses: thedoctor0/zip-release@main
        with:
          type: 'zip'
          filename: '${{ matrix.item }}.${{ steps.get_version.outputs.VERSION }}.mastlib'
          #directory: 'sbs_utils'
          #exclusions: 'LICENSE. *.* .* *. *.git* /docs/* /mock/* /typings/* /sphinx/* /tests/* *.py .nojekyll'
          path: "${{ matrix.item }}"

  build_media:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Archive media zip
        uses: thedoctor0/zip-release@main
        with:
          type: 'zip'
          filename: 'media.${{ steps.get_version.outputs.VERSION }}.zip'
          #directory: 'sbs_utils'
          #exclusions: 'LICENSE. *.* .* *. *.git* /docs/* /mock/* /typings/* /sphinx/* /tests/* *.py .nojekyll'
          path: "media"

  make_release:
    runs-on: ubuntu-latest
    needs: 
      - build
      - build_media
    steps:
  
    - name: Upload Release
      uses: ncipollo/release-action@v1
      with:
        artifacts: "*.${{ steps.get_version.outputs.VERSION }}.*"
        token: ${{ secrets.GITHUB_TOKEN }}

